/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =======以上為CSS Reset ======= */

*,*::before,*::after{
    box-sizing: border-box;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
    padding: 0 20px;
    /* padding-left: 16px;
    padding-right: 16px; */
    /* border:1px solid #221E1F; */
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

h1 h2 p{
    color: #221E1F;
}

.yellow-background{
    position: absolute;
    width: 850px;
    height: 768px;
    background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/bg_home.svg) no-repeat;
    top: 0;
    right: 0;
    z-index: -1;
}

.header{
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

@media(max-width:767px){
        .header{
        border-bottom: 2px solid #FFD153; 
        background-color: #FFFFFF;
            }
            .yellow-background{
            background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/bg_home_sm.svg)no-repeat padding-box;
            width: 354px;
            top: 360px;
            left: 20px;
            padding-right: 20px;
            margin-bottom: 32px;
            background-size: 100%;
            }
            
            
}

.logo{
    width: 220px;
    height: 40px;
}

.btn-red a {
    color: #FFFFFF;
    background: #FF5D50;
    text-align: center;
    font-size: 16px;
    border-radius: 22px;
    padding: 8px 32px;
}
.btn-red a:hover{
    color: black;
    background:#56C4C5;
    text-align: center;
    font-size: 16px;
    border-radius: 22px;
    padding: 8px 32px;
}

.topbanner{
    display: flex;
    height: 534px;
    margin-bottom: 100px;
    align-items: center;
    padding-top: 158px;
    padding-bottom: 157px;
    justify-content: space-between;
}
.banner-text .slogan{
    font-size: 18px;
    color: #56C4C5;
    margin-bottom: 8px;
    line-height: 26px;
    font-weight: bold;
    font-family: Noto Sans TC;
}
.banner-text h1{
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
    font-family: Noto Sans TC;
    margin-bottom: 16px;
}

.banner-text p{
    font-size: 20px;
    line-height: 29px;
    font-family: Noto Sans TC;
}

.banner-background{
    background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/home.svg) no-repeat center/cover;
    width: 532px;
    height: 534px;
    position: relative;

}
@media(max-width:767px){
    .topbanner {
        flex-direction: column;
        padding: 32px 20px;
    }
    .banner-text{
        align-self: flex-start;
    }
    .banner-text .slogan{
        font-size: 16px;
        line-height: 24px;
    }
    .banner-text h1{
        font-size: 32px;
        line-height: 46px;
    }
    .banner-text p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .banner-background{
        width: 304px;
        height: 305px;
        align-items: center;
        padding: 32px 20px;
        background-size: 90%;       
    }
}

/* <!-- ////////第二區域///////// --> */

.social{
    margin-top: 200px;
    margin-bottom: 100px;
}

.social h1{
    display: block;
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    font-family: Noto Sans TC;
    text-align: center;
    margin-bottom: 48px;
}

.socialList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
      
}

.iconcard{
    text-align: center;
    align-items: center;
}

.iconcard img{
    width: 90px;
    padding-bottom: 24px;
}

.iconcard h2{
    font-size: 24px;
    line-height: 35px;
    font-family: Noto Sans TC;
    font-weight: bold;
    padding-bottom: 24px;
}

.iconcard p{
    font-size: 16px;
    line-height: 24px;
    color: #747474;
    font-family: Noto Sans TC;
}

@media(max-width:767px){
    .social{
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
    }
    .social h1{
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 32px;
    }

    .iconcard h2{
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 16px;
    }
    .iconcard img{
        width: 60px;
        padding-bottom: 16px;
    }
    .iconcard p{
        padding-bottom: 24px;
    }
    .iconcard {
        width: 100%;
    }
}

/* ////////第三區域///////// */

.maincontent{
    margin-bottom: 100px;
}

.maincontent h1{
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
    font-family: Noto Sans TC;
}

.maincontent p{
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 48px;
    font-family: Noto Sans TC;
}
.roles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.role-item{
    width: 24%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    align-items: center;
}

.role-item img{
    width: 260px;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 16px;
}

.role-item h2{
    font-size: 16px;
    line-height: 24px;
    color: #56C4C5;
    font-weight: bold;text-align:center;
    font-family: Noto Sans TC;
    padding-bottom: 16px;
}

.role-item p{
    font-size: 16px;
    line-height: 24px;
    text-align:center;
    font-family: Noto Sans TC;
    margin-bottom: 24px;
}

@media(max-width:767px){
    .maincontent h1{
        font-size: 28px;
        line-height: 40px;
    }
    .maincontent p{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 32px;
    }
    .roles{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .role-item{
        width: 260px;
        margin-bottom: 24px;
    }
    .role-item img{
        width: 100%;
    }
    
}

/* ////////第四區域/////////  */

.chat-way{
    display: flex;
    margin-bottom: 100px;
}

.chatList{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    max-width: 53%;
}

.chat-item{
    background: #FFFFFF;
    width: 230px;
    height: 280px;
    box-shadow: 0px 2px 10px #00000014;
    align-items: center;
    padding: 32px;
    border-radius: 12px;
    margin-right: 42px;
    margin-bottom: 28px;
}

.chat-item h2{
    font-size:18px;
    line-height: 26px;
    font-family: Noto Sans TC;
    font-weight: bold;
    margin-bottom: 16px;
}


.chat-item p{
    font-size:16px;
    line-height: 24px;
    font-family: Noto Sans TC;
    margin-bottom: 48px;
}

.chatImg{
    display: flex;
    justify-content: center;
    width: 86px;
    height: 86px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 2px 10px #00000014;
    align-items: center;
    margin-bottom: 24px;
}

.description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 90px;
}

.description h1{
    font-size:32px;
    line-height: 46px;
    font-family: Noto Sans TC;
    font-weight: bold;
    margin-bottom: 16px;
}

.description p{
    font-size:18px;
    line-height: 26px;
    font-family: Noto Sans TC;
    margin-bottom: 24px;
}


@media(max-width:767px){
    .chat-way{
        display: flex;
        flex-direction: column-reverse;
    }
    .description{
        padding-left: 0;
    }
    .description h1{
        font-size:28px;
        line-height: 40px;
        text-align: center;
    }
    .description p{
        font-size:16px;
        line-height: 24px;
        margin-bottom: 16px;
        text-align: center;
    }
    .description .btn-green{
        margin-top: 16px;
        margin-bottom: 32px;
        text-align: center;
    }
    .chatList{
        max-width: 100%;
    }
    .chat-item{
        max-width: 100%;
        align-items: center;
        padding: 32px;
        border-radius: 12px;
        margin: 0 auto;
        margin-bottom: 28px;
    }

}

/* ////////第五區域/////////  */

.comment{
    margin-bottom: 100px;
}

.comment h1{
    font-size:32px ;
    line-height: 46px;
    text-align: center;
    font-family: Noto Sans TC;
    font-weight: bold;
    margin-bottom: 48px;
}

.commentList{
    display: flex;
    text-align: left;
    position: relative;
}

.person{
    width: 352px;
    height: 248px;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin-right: 16px;
    position: relative;
    padding-top: 48px;
    padding-right: 32px;
    padding-left: 32px;
}

.personImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    top: -56px;
    box-shadow: 0px 2px 10px #00000014;
}



.person p{
    font-size: 16px;
    line-height: 24px;
    
    font-family: Noto Sans TC;
}
/* .person-info{
    display: flex;
    justify-content: space-between;
} */


.person-info .star .pic {
    width: 16px;
    display: flex;
}





/* =======以下為footer待處理RWD======== */

.bottombanner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/home_footer.svg) no-repeat center/cover;
    height: 503px;
    position: relative;
    text-align: center;
    align-items: center;
}
@media(max-width:767px){
    .bottombanner{
        height: 461px; 
        background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/footer_sm.svg) no-repeat center/cover;
        margin-top: 60px;
    }
}

.bottombanner .ad{
    color: black;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.bottombanner .btn-green{
    margin-top: 48px;
    align-items: center;
}

.btn-green a {
    color: #FFFFFF;
    background: #56C4C5;
    text-align: center;
    font-size: 18px;
    border-radius: 27px;
    padding: 12px 32px;
}


.btn-green a:hover{
    color: #FF5D50;
    background:#FFD153;
    text-align: center;
    font-size: 18px;
    border-radius: 27px;
    padding: 12px 32px;
}

.footer{
    text-align: center;
    background: #F5F5F5;
    padding: 20px 159px;
    margin-top: 100px;
    font-family: 'Noto Sans TC', sans-serif;
}