/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =======以上為CSS Reset ======= */

*,*::before,*::after{
    box-sizing: border-box;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
    padding: 0 16px;
    /* padding-left: 16px;
    padding-right: 16px; */
    /* border:1px solid #221E1F; */
}
@media(max-width:767px){
    .container {
        padding: 0 20px; 
    }

}

img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

h1 h2 p{
    color: #221E1F;
}

.yellow-background{
    position: absolute;
    width: 850px;
    height: 768px;
    background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/bg_home.svg) no-repeat;
    top: 0;
    right: 0;
    z-index: -1;
}

.header{
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

@media(max-width:767px){
        .header{
        border-bottom: 2px solid #FFD153; 
        background-color: #FFFFFF;
            }
            .yellow-background{
            background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/bg_home_sm.svg)no-repeat padding-box;
            width: 354px;
            top: 360px;
            left: 20px;
            padding-right: 20px;
            margin-bottom: 32px;
            background-size: 100%;
            }
            
            
}

.logo{
    width: 220px;
    height: 40px;
}

.btn-red a {
    color: #FFFFFF;
    background: #FF5D50;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    border-radius: 22px;
    padding: 8px 32px;
}
.btn-red a:hover{
    color: black;
    background:#56C4C5;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    border-radius: 22px;
    padding: 8px 32px;
}

.topbanner{
    display: flex;
    height: 534px;
    margin-bottom: 100px;
    align-items: center;
    padding-top: 158px;
    padding-bottom: 157px;
    justify-content: space-between;
}
.banner-text .slogan{
    font-size: 18px;
    color: #56C4C5;
    margin-bottom: 8px;
    line-height: 26px;
    font-weight: bold;
    font-family: Noto Sans TC;
}
.banner-text h1{
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
    font-family: Noto Sans TC;
    margin-bottom: 16px;
}

.banner-text p{
    font-size: 20px;
    line-height: 29px;
    font-family: Noto Sans TC;
}

.banner-background{
    background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/home.svg) no-repeat center/cover;
    width: 532px;
    height: 534px;
    position: relative;

}
@media(max-width:767px){
    .logo{
        width: 130px;
        height: 24px;
    }
    .topbanner {
        flex-direction: column;
        padding: 32px 20px;
    }
    .banner-text{
        align-self: flex-start;
    }
    .banner-text .slogan{
        font-size: 16px;
        line-height: 24px;
    }
    .banner-text h1{
        font-size: 32px;
        line-height: 46px;
    }
    .banner-text p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .banner-background{
        width: 304px;
        height: 305px;
        align-items: center;
        padding: 32px 20px;
        background-size: 90%;       
    }
}

/* <!-- ////////第二區域///////// --> */

.social{
    margin-top: 200px;
    margin-bottom: 100px;
}

.social h1{
    display: block;
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    font-family: Noto Sans TC;
    text-align: center;
    margin-bottom: 48px;
}

.socialList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
      
}

.iconcard{
    text-align: center;
    align-items: center;
}

.iconcard img{
    width: 90px;
    padding-bottom: 24px;
}

.iconcard h2{
    font-size: 24px;
    line-height: 35px;
    font-family: Noto Sans TC;
    font-weight: bold;
    padding-bottom: 24px;
}

.iconcard p{
    font-size: 16px;
    line-height: 24px;
    color: #747474;
    font-family: Noto Sans TC;
}

@media(max-width:767px){
    .social{
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
    }
    .social h1{
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 32px;
    }

    .iconcard h2{
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 16px;
    }
    .iconcard img{
        width: 60px;
        padding-bottom: 16px;
    }
    .iconcard p{
        padding-bottom: 24px;
    }
    .iconcard {
        width: 100%;
    }
}

/* ////////第三區域///////// */

.maincontent{
    margin-bottom: 100px;
}

.maincontent h1{
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
    font-family: Noto Sans TC;
}

.maincontent p{
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 48px;
    font-family: Noto Sans TC;
}
.roles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.role-item{
    width: 24%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    align-items: center;
}

.role-item img{
    width: 260px;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 16px;
}

.role-item h2{
    font-size: 16px;
    line-height: 24px;
    color: #56C4C5;
    font-weight: bold;text-align:center;
    font-family: Noto Sans TC;
    padding-bottom: 16px;
}

.role-item p{
    font-size: 16px;
    line-height: 24px;
    text-align:center;
    font-family: Noto Sans TC;
    margin-bottom: 24px;
}

@media(max-width:767px){
    .maincontent h1{
        font-size: 28px;
        line-height: 40px;
    }
    .maincontent p{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 32px;
    }
    .roles{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .role-item{
        width: 260px;
        margin-bottom: 24px;
    }
    .role-item img{
        width: 100%;
    }
    
}

/* ////////第四區域/////////  */

.chat-way{
    display: flex;
    margin-bottom: 100px;
}

.chatList{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    max-width: 53%;
}

.chat-item{
    background: #FFFFFF;
    width: 230px;
    height: 280px;
    box-shadow: 0px 2px 10px #00000014;
    align-items: center;
    padding: 32px;
    border-radius: 12px;
    margin-right: 42px;
    margin-bottom: 28px;
}

.chat-item h2{
    font-size:18px;
    line-height: 26px;
    font-family: Noto Sans TC;
    font-weight: bold;
    margin-bottom: 16px;
}


.chat-item p{
    font-size:16px;
    line-height: 24px;
    font-family: Noto Sans TC;
    margin-bottom: 48px;
}

.chatImg{
    display: flex;
    justify-content: center;
    width: 86px;
    height: 86px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 2px 10px #00000014;
    align-items: center;
    margin-bottom: 24px;
}

.description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 90px;
}

.description h1{
    font-size:32px;
    line-height: 46px;
    font-family: Noto Sans TC;
    font-weight: bold;
    margin-bottom: 16px;
}

.description p{
    font-size:18px;
    line-height: 26px;
    font-family: Noto Sans TC;
    margin-bottom: 24px;
}


@media(max-width:767px){
    .chat-way{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }
    .description{
        padding-left: 0;
    }
    .description h1{
        font-size:28px;
        line-height: 40px;
        text-align: center;
    }
    .description p{
        font-size:16px;
        line-height: 24px;
        margin-bottom: 16px;
        text-align: center;
    }
    .description .btn-green{
        margin-top: 16px;
        margin-bottom: 32px;
        text-align: center;
    }
    .chatList{
        max-width: 100%;
    }
    .chat-item{
        max-width: 100%;
        align-items: center;
        padding: 32px;
        border-radius: 12px;
        margin: 0 auto;
        margin-bottom: 28px;
    }

}

/* ////////第五區域/////////  */

.comment{
    margin-bottom: 100px;
}

.comment h1{
    font-size:32px ;
    line-height: 46px;
    text-align: center;
    font-family: Noto Sans TC;
    font-weight: bold;
    margin-bottom: 104px;
}

.commentList{
    display: flex;
    text-align: left;
    position: relative;
    justify-content: space-between;
    gap:16px
}

.person {
    width: 352px;
    /* height: 248px; */
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    position: relative;
    padding-top: 48px;
    padding-right: 32px;
    padding-left: 32px;
}

.personImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    top: -56px;
    box-shadow: 0px 2px 10px #00000014;
}

.personSay{
    font-size: 16px;
    line-height: 24px;
    font-family: Noto Sans TC;
    margin-bottom: 24px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 24px;
}

.company{
    font-size: 16px;
    line-height: 24px ;
    font-family: Noto Sans TC;
    font-weight: bold;
    padding-bottom: 8px;
}

.position{
    font-size: 16px;
    line-height: 24px ;
    font-family: Noto Sans TC;
}

.starList {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.star{
    display: flex;
}

.next{
    display: flex;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
}
.dot{
    width: 10px;
    height: 10px;
    background: #DDDDDD;
    border-radius: 50px;
    margin-right: 8px;
}
.big-dot{
    width: 16px;
    height: 10px;
    background: #FFD153;
    border-radius: 50px;
}

@media(max-width:767px){
    .comment h1{
        font-size:28px ;
        line-height: 40px;
        margin-bottom: 88px;
    }
    .personSay{
        margin-bottom: 16px;
    }
    .comment .RWD {
        display: none;
    }
    .commentList{
        align-items: center;
        justify-content: center;
    }
    .comment{
        margin-bottom: 60px;
    }
}

/* =======以下為footer======== */

.bottombanner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/home_footer.svg) no-repeat center/cover;
    height: 503px;
    position: relative;
    text-align: center;
    align-items: center;
}

.bottombanner .ad{
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    margin-top: 260px;
}
.bottombanner .btn-green{
    margin-top: 48px;
    align-items: center;
}

.btn-green a {
    color: #FFFFFF;
    background: #56C4C5;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    border-radius: 27px;
    padding: 12px 32px;
}

.btn-green a:hover{
    color: #FF5D50;
    background:#FFD153;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    border-radius: 27px;
    padding: 12px 32px;
}

.footer{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: #F5F5F5;
    margin-top: 100px;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 16px 0;
}

@media(max-width:767px){
    .bottombanner{
        width: ;
        height: 461px; 
        background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/footer_sm.svg) no-repeat;
        background-size: 100%;
    }
    .bottombanner .ad{
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        margin-top: 293px;
    }
    .bottombanner .btn-green{
        margin-top: 24px;
    }
    .footer{
        margin-top: 60px;
        width: 100%;
        padding: 16px 44px;
        

    }
}

.topbtn a{
    display: block;
    position: fixed;
    width: 71px;
    height: 71px;
    right: 48px;
    bottom: 23px;
}

@media(max-width:767px){
    .topbtn a{
        width: 50px;
        height: 50px;
}
}

/* ===== Cost page CSS ===== */



/* ////////Cost第一區域///////// */

.topbox{
    position: absolute;
    background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/banner.svg) no-repeat padding-box;
    width: 885px;
    height: 559px;
    top: 0;
    right: 0;
    z-index: -2;
    
}

.navbar{
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 406px; 
    /* (margin-bottom: px; ↑Footer有關) */
}

.cost-header{
    position: absolute;
    width:100% ;
    background: #F7F9FD 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 300px;
    margin-bottom: 100px;
    z-index: -7;
    margin: 0 auto;
    top: 0;
    right: 0;
}

.cost-topbanner{
    align-items: center;
    padding-top: 180px;
    padding-bottom: 220px;
    z-index: 2;
    
}

.cost-banner-text h1{
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
    font-family: Noto Sans TC;
    margin-bottom: 16px;
}

.cost-banner-text p{
    font-size: 16px;
    line-height: 24px;
    font-family: Noto Sans TC;
}


@media(max-width:767px){
    .navbar{
        /* border-bottom: 2px solid #FFD153;  */
        background-color: #FFFFFF;
        width: 100%;
        
    }

    .cost-banner-text h1{
        font-size: 32px;
        line-height: 46px;
        
        
    }
    .cost-topbanner{
        padding: 0 20px;
        margin-top: 48px;
        margin-bottom: 361px;
    }

    .cost-header{
        top: 88px;
        border-top: 2px solid #FFD153; 
        margin-bottom: 60px;
    }

    .topbox{
        display: block;
        background: url(https://sophieuniverse.github.io/Hexschool-Task2-20220605/img/banner_sm.svg) no-repeat right bottom;
        max-width: 100%;
        left: 0;
        background-size: cover;
        
    }
 
}

/* ////////Cost第二區域///////// */

.Price-container{
    max-width: 936px;
    margin: 0 auto;   
}

.cost-choice{
    margin-top: 570px;
    text-align: center;
    align-items: center;
}

.cost-choice h2{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    font-family: Noto Sans TC;
    margin-bottom: 48px;
}

.rate{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.rate-item{
    margin-right: 16px;
}

.rate-item a{
    color:#56C4C5 ;
    font-size: 18px;
    line-height: 26px;
    font-family: Comfortaa;
    border-radius: 27px;
    padding: 12px 32px;
    border: 1px solid #56C4C5;
}

.rate-item a:hover{
    color:#FFFFFF ;
    background-color: #56C4C5;
    font-size: 18px;
    line-height: 26px;
    font-family: Comfortaa;
    border-radius: 27px;
    padding: 12px 32px;
}

@media(max-width:767px){
    .cost-choice{
        margin-top: 627px;
        text-align: center;
        align-items: center;
    }
    .cost-choice h2{
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 24px;
    }

    .rate{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .rate-item{
        margin-bottom: 32px;
    }
}


/* ////////Cost第三區域///////// */

.cost-detais{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.basic, .standard {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin: 0 15px;
    align-items: center;
}

h3{
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    font-family: Noto Sans TC;
    margin-bottom: 21px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}

h4{
    font-size: 12px;
    line-height: 17px;
    text-align: center; 
    font-family: Noto Sans TC; 
    margin-bottom: 8px;
}

.cal{
    text-align: center;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-bottom: 32px;
}

.cal-item{
    width: 169px;
    height: 108px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 12px;
    padding-bottom: 24px;
    padding: 24px 0;
    
}

.cal-mark {
    display: block;
    font-size: 29px;
    line-height: 42px;
    padding: 0 19px;
}


.cal-number, .cal-numberMon{
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    font-family: Noto Sans TC;
}

.cal-number{
    color:#56C4C5;
    font-family: Comfortaa,Noto Sans TC;
}

sub{
    font-size: 12px;
    line-height: 17px;
}


.cost-detais-p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: Noto Sans TC;
    margin-bottom: 32px;
}

.cal{
    display: flex;
}


.checkList li{
    font-size: 16px;
    line-height: 24px;
    font-family: Noto Sans TC;
    margin-bottom: 16px;
    margin-left: 29px;
   
}

.checkList img{
    margin-right: 13px;
}

.check-btn{
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    align-self: center;

}

.check-btn a{
    color:#FFFFFF ;
    background-color: #56C4C5;
    font-size: 18px;
    line-height: 26px;
    font-family: Comfortaa;
    border-radius: 27px;
    padding: 12px 32px;
    border: 1px solid #56C4C5;
   
}

.check-btn a:hover{
    color:black ;
    font-size: 18px;
    line-height: 26px;
    font-family: Comfortaa;
    border-radius: 27px;
    padding: 12px 32px;
}

@media(max-width:767px){
    .cost-detais{
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
    }
    .basic, .standard {
        width: 100%;
        margin-bottom: 48px;
        margin-top: -24px;  
    }

    h3{
        width: 100%;
        margin-bottom: 16px;
        margin-top: 16px;
        border-bottom: 1px solid #DDDDDD;
    }

    .cost-detais-p{
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .cal-number, .cal-numberMon{
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }

    .cal-mark {
        font-size: 24px;
        line-height: 35px;
        padding: 0 6px;
    }

    .cal{
        margin: 0 16px;
    }

    .cal-item{
        width: 139px;
        height: 89px;        
        text-align: center;
        padding: 16px 16px 24px;
        margin-bottom: 27px; 
    }

    .checkList li{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 19px;
        padding-right: 20px;       
    }

    .checkList img{
        margin-right: 16px;
    }
}

/* ////////Cost第四區域///////// */

.faq{
    margin-bottom: 100px;
    align-items: center;
}

.faq h2{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    font-family: Noto Sans TC;
    margin-bottom: 48px;
    text-align: center;
}

.faq-item {
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    justify-content: space-between;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    align-items: center;
}

.faq-open{
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    justify-content: center;
}

.faqdetail{
    display: flex;
    justify-content: space-between
}

.faq-p{
    font-size: 18px;
    line-height: 28px;
    font-family: Noto Sans TC;
}

.faq-open-p{
    font-size: 18px;
    line-height: 28px;
    color: #56C4C5;
    margin-bottom: 24px;
    font-family: Noto Sans TC;
    font-weight: bold;
}

.faqList img{
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 32px;
}

.faq-answer{
    font-size: 16px;
    line-height: 32px;
    color: #747474;
    font-family: Noto Sans TC;
    padding-bottom: 32px;
}

.faq-item:hover{
    background-color: #b8e6e7;
}

@media(max-width:767px){
    .faq{
        margin-bottom: 60px;
    }
    .faq h2{
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 32px;
    }
    .faq-p{
        font-size: 16px;
        line-height: 24px;
    }
    .faq-open-p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        justify-content: center;
        padding-top: 16px;
    }
    .faq-answer{
        padding-bottom: 24px;
    }
   
}